<div>
  <link href="./slideshow.css" rel="stylesheet" />
  <div class="slideshow-container">
    <div class="slideshow-slide1">
      <div class="slideshow-left-button">
        <img
          alt="image"
          src="public/external/down-arrow_w-200h.webp"
          class="slideshow-image"
        />
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1699180134120-fe19a5a775df?ixid=M3w5MTMyMXwwfDF8YWxsfDh8fHx8fHwyfHwxNzAzNDMzNzY1fA&ixlib=rb-4.0.3&w=1000"
        class="slideshow-slider-image"
      />
      <div class="slideshow-right-button">
        <img
          alt="image"
          src="public/external/down-arrow_w-200h.webp"
          class="slideshow-image1"
        />
      </div>
    </div>
    <div class="slideshow-slide2">
      <div class="slideshow-left-button1">
        <svg viewBox="0 0 1024 1024" class="slideshow-icon">
          <path d="M498 166l-346 346 346 346-76 76-422-422 422-422z"></path>
        </svg>
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1703533136832-2e91ef1a746f?ixid=M3w5MTMyMXwwfDF8YWxsfDJ8fHx8fHwyfHwxNzAzNTkwMjU0fA&ixlib=rb-4.0.3&w=500"
        class="slideshow-slider-image1"
      />
      <div class="slideshow-right-button1">
        <svg viewBox="0 0 1024 1024" class="slideshow-icon2">
          <path d="M250 176l92-90 426 426-426 426-92-90 338-336z"></path>
        </svg>
      </div>
    </div>
    <div class="slideshow-slide3">
      <div class="slideshow-left-button2">
        <svg viewBox="0 0 1024 1024" class="slideshow-icon4">
          <path d="M498 166l-346 346 346 346-76 76-422-422 422-422z"></path>
        </svg>
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1701743806134-9a7bfe1ffc04?ixid=M3w5MTMyMXwwfDF8YWxsfDV8fHx8fHwyfHwxNzAzNTkwMjU0fA&ixlib=rb-4.0.3&w=500"
        class="slideshow-slider-image2"
      />
      <div class="slideshow-right-button2">
        <svg viewBox="0 0 1024 1024" class="slideshow-icon6">
          <path d="M250 176l92-90 426 426-426 426-92-90 338-336z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
