<div>
  <link href="./testimonial-card2.css" rel="stylesheet" />
  <div class="testimonial-card2-testimonial-card">
    <span class="testimonial-card2-text"><span>Who Are We?</span></span>
    <span class="testimonial-card2-text1">
      <span>
        The National Service Scheme at IIT Bombay is the largest student
        volunteer organization on campus, dedicated to social and community
        service. We offer students opportunities to make a positive impact on
        society through various departments, from education for the
        underprivileged to using technology to solve social issues. Our primary
        goal is spreading happiness through community service, creating joyful
        moments for campus residents through innovative activities. Being part
        of NSS brings happiness to everyone involved.
      </span>
    </span>
  </div>
</div>
